.animated-background {
    background: linear-gradient(
        to right, rgba(185, 122, 181, 0.774),
        rgba(86, 121, 197, 0.685) , rgb(19, 150, 150));
    background-size: 400%;
    animation: animate-background 10s infinite ease-in-out;
}

@keyframes animate-background {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.login-fram {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 10px;
    height: 400px;
}