
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-3 login-fram animated-background">
            <div class="container">
                <div class="row mt-3">
                    <div class="col-12" style="text-align: center;">
                        <img src="../../assets/img/femmeblk_logo-desktop.webp" width="100">
                    </div>
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="col-12" style="text-align: center;">
                        <input 
                        class="input" 
                        placeholder="First Name"
                        [(ngModel)]="userInfo.firstName"
                        name="firstName">
                    </div>
                    <div class="col-12 mt-3" style="text-align: center;">
                        <input 
                        class="input" 
                        placeholder="Last Name"
                        [(ngModel)]="userInfo.lastName"
                        name="lastName">
                    </div>
                    <div class="col-12 mt-3" style="text-align: center;">
                        <input 
                        class="input" 
                        placeholder="password"
                        [(ngModel)]="userInfo.password"
                        name="password">
                    </div>
                    <div class="col-12 my-3" style="text-align: center;">
                        <input 
                        class="input" 
                        placeholder="confirm password"
                        [(ngModel)]="repetPassword"
                        name="repetPassword">
                    </div>
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="col-5">
                        <button class="cancel-btn">submit</button>
                    </div>
                    <div class="col-5">
                        <button class="submit-btn">cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>