.submit-btn {
    background-color: rgb(103, 48, 139);
    color: white;
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 40px;
}

.cancel-btn {
    background-color: rgb(97, 126, 207);
    color: white;
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 40px;
}

.submit-btn:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px, rgba(255, 255, 255, 0.1) 0px 8px 24px, rgba(255, 255, 255, 0.1) 0px 16px 48px;
}

.cancel-btn:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px, rgba(255, 255, 255, 0.1) 0px 8px 24px, rgba(255, 255, 255, 0.1) 0px 16px 48px;
}